body
{
  margin: 0;
  width: 100%;
  /* 1background-color: #dcdfe1; */
  background-color: #edecec;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* transform: scale(0.99); */
  /* transform-origin: top left; */

}




input{
  margin:0;
  padding: 0;
}

@keyframes glow {
  0% {
    margin-right:0px;
    box-shadow: 0 0 10px 0 #fff; /* Начальное значение тени */
  }
  100% {
    margin-right:-2000px;
    box-shadow: 0px 0px 10px 10px rgba(255, 157, 37, 0.196);
  }


}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin:0;

}

             /* ХЕДЕР ГЛАВНОЙ СТРАНИЦЫ */

#nad{  background-color: rgb(26, 20, 73);

}
#nadhd {
display: flex;


}
#logo{
  height: 10px;
  width: 50px;
  margin: 0px 6px;

}
#d12{
/* background-color: rgb(255, 0, 0); */
width: 630px;
height: 60px;
margin:10px;
}
#nadhd1 {

display: flex;
position: relative;
left: 60px;
margin:6px 20px
}

.nadhd1-p {
  margin:0px 50px 0px 0px;
  color: rgb(28, 149, 255);
}

#nadhd1-addres{
/* margin: 0px 20px 0px 0px; */
}

.fa-phone-square{
  margin: 0px 6px;
}

.fa-map-marker{
  margin: 0px 6px 0px 0px;
}
#nadnd-titile{

  position: relative;
  /* left:65px; */
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20pt;
  /* transform: scaleY(0.8);
  transform: scaleX(1.2);
  transform-origin: 0 0; */
}

#nadhd p{
  color:aliceblue
}
#mnhd{
  box-shadow: 10px 10px 15px rgba(3, 152, 227, 0.85);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85px;
  background-color:  rgb(26, 20, 73);

}

#hd-home{ /* НАДПИСЬ ГЛАВНАЯ */

position: relative;
left:-30%;

}

#hd-faq{ /* НАДПИСЬ ГЛАВНАЯ */

  position: relative;
  left:-53%;

}

#hd-cart{ /* НАДПИСЬ ГЛАВНАЯ */

  position: relative;
  left:-30%;

}

#hd-cat{   /* НАДПИСЬ КАТЕГОРИИ */

  position: relative;

  left:-77%;
}


.mnhd-bt-link{
position: relative;

left:-22%;
}



.mnhd-inline{

  position: relative;
  width: 20pt;
  height: 10pt;
  padding: 25pt 30pt;

  top:-15%;

}

.mnhd-login-link{
 color:rgb(176, 225, 255);
}


.icon-link{
  text-decoration:none;

  color: rgb(0, 141, 212);
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}

#mnhd-search-inp{
 width: 550px;
 height: 25px;
 background-color: rgb(181, 220, 255);
 border-radius: 20px;
 border-width: 1px;
 padding-left: 35px;
}

#mnhd-search-inp :focus{

 }

#mnhd-searchline{
  display: flex;
  width: 400px;
  position: relative;
  top:0%;
}

#mnhd-bsearch{
  height: 31px;
  background-color: transparent;
  position:relative;
  left:32px;
  border: 0;
}

#mnhd-bsearch i{
color:  rgb(0, 141, 212);

}

/* ФУТЕР  */
footer {
  background-color: #333333b4;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 50px; /* Высота вашего футера */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



/* КОНТЕЙНЕР С ИНФОЙ И НОВЫМ БЛОКОМ */
 #mn-first-container{
  position: relative;
 /* background-color: #66666627; */
 width: 96%;
 height: 750px;
 margin:20px 80px 0px 40px;
 display:flex;

 }

 .c-info{
  /* background-color: #66666627; */
  display: inline-block;
  margin:40px 90px;
  width: 40%;
  height: 100px;
 }

    #c-info-title{


    }


    #c-info-title-h{
      font-size: 25pt;

    }

    #mn-c-info-divider{
      background-color: rgb(26, 20, 73);
      margin: 7px 0px 25px;
      width: 100%;
      height: 9px;
      border-radius: 10px;

    }

    #c-info-text{
      text-indent: 30px;
      font-size:16px;
    }

    #mainShopPic{
      position: relative;
      margin: 20px;
      left:8%;
    }
/* зачистить */
 .c-new{

  position: relative;
  margin:0px 0px;
  width: 45%;
  height: 100%;


 }

    .c-new-top{

      display:flex;
      width: 100%;
      height: 15%;
      color:rgba(255, 162, 0, 1);

    }
      .cnt-title{

        margin: 0;
        font-size: 25pt;
        padding: 25pt 40pt 0pt 40pt;
      }

      .cnt-button{

        width: 100%;
        height: 15%;
        padding:60px 2% 3% 1%;
      }

    .c-new-down{
      color: aliceblue;
      display:flex;
      flex-wrap: wrap;
      background-color: rgba(65, 117, 200, 0.132);
      width: 100%;
      height: 85%;
      border: 4px solid rgb(255, 166, 0);
      border-radius: 45px;
      /* animation: glow 1s infinite alternate; */

    }

    .cnd-items{
      box-sizing: border-box;
      margin: 1%;
      padding: 2% 2%;
      background-color: rgb(241, 151, 17);
      width: calc(100% / 3.25);
      height: calc(100% / 2.1);
      border: 1px solid rgba(170, 170, 170, 0.326) ;
      border-radius:30px;
    }


    .productCard-main{
      background-color: #6666662e;
      position: relative;
      top:20px;
      left:450px;
      width: 800px;
      height: 850px;
    }

    .cnd-items:hover{
      transition: .3s;
      background-color: rgb(241, 163, 46);
      box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.24);
    }

      .cnd-it-disc{

        font-size: 8pt;
      }

      .cnd-titile{
        margin: 2px;
        font-size: 12pt;
      }

      .cnd-it-cat{
        font-size: 8pt;
      }
      .cnd-it-img{
        position: relative;
        border: 2px solid rgb(186, 186, 186);
        border-radius: 20px;
        left:4%;
        top:0%;
        margin:2px;

      }

      .cnd-it-wr2{
        margin-top: 10 px;
      }

 /* СТРАНИЦА РЕГИСТРАЦИИ */
 /* контейнер регистрации */
 .reg-wrap{
  background-color: #66666600;
  position: relative;
  left:26.3%;
  width: 600px;
  height: 600px;
  margin:0px 80px;
  padding: 80px 50px 50px 90px;
 }
 .reg-container{
  position: absolute;
  background-color: rgb(26, 20, 73);
  border-radius: 10px;
  border:2px solid rgb(186, 185, 185);
  border-top:none;
  display: flex;
  flex-direction: column;
  color: rgb(198, 198, 198);
  margin:0px;
  width:70%;
  opacity: 0;
  box-shadow:0px -2px 2px 1px #0000003a;
  pointer-events: none;
  z-index: 0;


 }

 .reg-container > div.active{


  opacity: 1;

 }



 .rg-consent-checkbox  a:link{
  color:rgb(0, 141, 212);


 }

 .rg-consent-checkbox  a:visited{
  color:rgb(0, 141, 212);


 }
 .rg-EnterLb{
  color:  rgb(254, 254, 254);
  text-align: center;
  margin: 12px 10px ;
 }


 .rg-EnterLb i{

 }

    .rg-tabs{
    display: flex;

    }



    .flex-on{
      display: flex;
      flex-direction:column;


    }

    .active{
      opacity: 1;
      pointer-events:auto;
      z-index: 1;

    }

    .rg-lb-remember{
      padding-left: 27%;
    }


    .rg-bt-tabLogSig{
      margin: 0px;
      background-color: #66666671;
      border:3px solid rgba(186, 186, 186, 0.545);
      border-radius: 5px;
      width: 200px;
      height: 40px;
      position: absolute;
      top: 52px;



    }

    #rg-bt-tabSign{
      position: absolute;
      left:293px;
    }

    .rg-tabP{
      font-size: 11pt;
      text-align: center;
      line-height:25px ;

    }

    .rg-bt-tabLogSig i {
      margin: 3px;
    }

    .reg-wrap .rg-tabs > div
    {
      cursor: pointer;



    }

    .reg-wrap .rg-tabs > div:hover
    {
      background-color: #4949497f;



    }

    .reg-wrap .rg-tabs > div.active
    {
      color:rgb(220, 220, 220);
      background-color: rgb(26, 20, 73);
      border:2px solid;
      border-color: #999999fe;

    }
    #rg-bt-tabLogin{
      /* background-color: rgb(0, 141, 212); */


    }

    .inputStyle{
      width: 94%;
      height: 35px;
      border:2px solid rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      margin: 2%;
    }

    .inputStyle1{
      width: 94%;
      height: 30px;
      border:2px solid rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      margin: 2%;
    }

    #button-LogIn{
      height: 50px;
      background-color: rgb(232, 232, 232);
      border-radius:10px;
      margin:10px;
      transition:  0.3s ease-in-out;
    }

    #button-LogIn:hover{
      height: 55px;
      background-color: rgb(201, 210, 229);
      border-radius:15px;

    }

    #button-Reg{
      height: 50px;
      width: 95%;
      background-color: rgb(232, 232, 232);
      border-radius:10px;
      margin:10px;
      transition:  0.3s ease-in-out;

    }

    #button-Reg:hover{
      height: 53px;
      align-items: center;
      width: 95%;
      background-color: rgb(201, 210, 224);
      border-radius:15px;

      transition:  0.3s ease-in-out;

    }



    #rg-lb-notice{
      position: relative;
      left:16.5%;

    }




    .inputStyle1::placeholder{
      font-family: Georgia;
      color: rgb(168, 168, 168);
      font-size: 10pt;
    }

    .inputStyle::placeholder{
      font-family: Georgia;
      color: rgb(168, 168, 168);
      font-size: 10pt;
    }


    #rg-lb-Birth{
      margin: 12px;
    }

    .rg-consent-checkbox{
      margin: 12px;
      font-size:14px;
    }
