{% extends 'AdminBase.html' %}
{% block title %}

{% endblock %}


{%block content%}
<div class="container">
    <div class="main-content">
        <div class="form-section">
            <section class = "form-cart">
            <h2 class="section-title">Добавление товара</h2>
            <p>Для добавления нового товара заполните данные и нажмите кнопку добавить товар. Товар должен отобразиться в таблице</p>
            <form  method="POST" action="{{url_for('AP_add_product')}}">
                <div class="form-group">
                    <label for="name">Наименование</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="price">Цена</label>
                    <input type="number" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <div class="checkbox-container">
                        <input type="checkbox" id="newProduct" name="newProduct">
                        <label for="newProduct">Новинка</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="master">Мастер</label>
                    <select name="master" id="master">
                        <option value="Выберите мастера из списка">Выберите мастера из списка</option>
                        {% for master in masters %}
                        <option value="{{ master.ID_master }}">{{ master.Name_master }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Категория</label>
                    <select name="category" id="category">
                        <option value="Выберите категорию">Выберите категорию</option>
                        {% for category in categories %}
                        <option value="{{ category.ID_categories }}">{{ category.Name_category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit">Добавить товар</button>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                </div>
            </form>
            </section>

            <section class="form-cart">
            <h2 class="section-title">Изменение товара</h2>
            <p>Для изменения данных товара выберите товар из таблицы, нажав на иконку карандаша</p>
            <form>
                <div class="form-group">
                    <label for="editCode">Код изменяемого товара:</label>
                    <input type="text" name="editCode" id="editCode" required>
                </div>
                <div class="form-group">
                    <label for="editName">Наименование</label>
                    <input type="text" id="editName" name="editName">
                </div>
                <div class="form-group">
                    <label for="editPrice">Цена</label>
                    <input type="number" id="editPrice" name="editPrice">
                </div>
                <div class="form-group">
                    <div class="checkbox-container">
                        <input type="checkbox" id="editNewProduct" name="editNewProduct">
                        <label for="editNewProduct">Новинка</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="editMaster">Мастер</label>
                    <select name="editMaster" id="editMaster">
                        <option value="master1">Мастер 1</option>
                        <option value="master2">Мастер 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editCategory">Категория</label>
                    <select name="editCategory" id="editCategory">
                        <option value="cat1">Категория 1</option>
                        <option value="cat2">Категория 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit">Изменить данные товара</button>
                </div>
            </form>
            </section>

        </div>
        <div class="table-section">
            <h2 class="section-title">Товары</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th>Описание товара</th>
                        <th>Категория</th>
                        <th>Мастер</th>
                        <th>Новинка</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Данные таблицы будут добавлены позже -->
                    {% for product in products %}
                    <tr>
                        <td>{{product.ID_product}}</td>
                        <td>{{product.Name_product}}</td>
                        <td>{{product.Cost_product}}</td>
                        <td>{{product.Description_product}}</td>
                        <td>{{product.id_category}}</td>
                        <td>{{product.id_master}}</td>
                        <td>{{'Да' if product.IsNew_product else 'Нет'  }}</td>
                        <td>
                            <form action="{{ url_for('delete_product', id=product.ID_product) }}" method="POST" style="display:inline;">
                                <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот продукт?')">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor%}


                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}
