{% extends 'AdminBase.html' %}
{% block title %}
    Управление пользователями
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-content">
            <div class="form-section">
                 <section class = "form-cart">
                    <div class="title-line">
                      <h2 class="section-title">Изменение данных пользователя</h2>
                    </div>
                    <p>Для изменения данных пользователя выберите его из таблицы, нажав на иконку карандаша✏️.</p>
                    <form method="POST" action="{{url_for('edit_user')}}">
                        <div class="form-group">
                            <label for="editCode">Код пользователя</label>
                             <input type="text" name="editCode" id="editCode" readonly>
                        </div>
                        <div class="form-group">
                            <label for="editName">Имя пользователя</label>
                            <input type="text" id="editName" name="editName">
                        </div>
                        <div class="form-group">
                            <label for="editPhone">Номер телефона</label>
                            <input type="text" id="editPhone" name="editPhone">
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" id="editEmail" name="editEmail">
                        </div>
                        <div class="form-group">
                             <label for="editBday">Дата рождения</label>
                             <input type="date" id="editBday" name="editBday">
                        </div>

                        <div class="form-group">
                            <button type="submit">Изменить данные пользователя</button>
                              <div class="flash-messages">
                                   {% with messages = get_flashed_messages(with_categories=true) %}
                                   {% if messages %}
                                       {% for category, message in messages %}
                                           {% if category == 'error2' %}
                                               <span class="reg-error flash">{{ message }}</span>
                                           {% endif %}
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}
                               </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="table-section">
              <div class="title-table-icon">
                <img src="{{url_for('static',filename='image/Icons/user.svg')}}" width=40px>
                <h2 class="section-title">Пользователи</h2>
              </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Код</th>
                            <th>Имя пользователя</th>
                            <th>Номер телефона</th>
                            <th>Почта</th>
                            <th>Дата создания</th>
                            <th>Дата рождения</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <form action="{{ url_for('delete_user', id=user.ID_user) }}" method="POST" style="display:inline;">
                                        <button class="func-button" type="submit" onclick="return confirm('Вы уверены, что хотите удалить этого пользователя?')">❌</button>
                                    </form>
                                     <button class="func-button" onclick="LoadUserEditForm({{ user.ID_user }})">✏️</button>
                                </td>
                                <td>{{ user.ID_user }}</td>
                                <td>{{ user.Name_user }}</td>
                                <td>{{ user.phone_number }}</td>
                                <td>{{ user.mail_user }}</td>
                                <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S')  }}</td>
                                <td>{{ user.BirthDay_user.strftime('%Y-%m-%d') if user.BirthDay_user else 'Не указано'}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function LoadUserEditForm(userId) {
            fetch(`/api/user/${userId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка загрузки данных пользователя');
                    }
                    return response.json();
                })
                .then(data => {

                    document.getElementById('editCode').value = data.ID_user;
                    document.getElementById('editName').value = data.Name_user;
                    document.getElementById('editPhone').value = data.phone_number;
                    document.getElementById('editEmail').value = data.mail_user;
                    document.getElementById('editBday').value = data.BirthDay_user? data.BirthDay_user.split('T')[0] : ""; // Изменено здесь

                    const editForm = document.querySelector('.form-cart'); // Находим первую форму с классом form-cart
                    if (editForm) {
                        // Добавляем подсветку
                        editForm.classList.add('highlight');

                        // Удаляем подсветку через 2 секунды
                        setTimeout(() => {
                        editForm.classList.remove('highlight');
                        }, 2000);

                        editForm.scrollIntoView({ behavior: 'smooth', block: 'start' });
                    }
                })


                .catch(error => {
                    console.error('Ошибка при загрузке данных пользователя:', error);
                    alert('Не удалось загрузить данные пользователя.');
                });
        }
    </script>
{% endblock %}
