{% extends 'AdminBase.html' %}
{% block title %}
    Управление мастерами
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-content">
            <div class="form-section">
                <section class = "form-cart">
                  <div class="title-line">
                    <h2 class="section-title section-title-form">Добавление мастера</h2>
                   </div>
                    <p>Для добавления нового мастера, заполните форму и нажмите кнопку "Добавить мастера".</p>
                    <form method="POST" action="{{ url_for('admin.add_master') }}">
                        <div class="form-group">
                            <label for="name">Имя мастера</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                       <div class="form-group">
                            <label for="gender">Пол</label>
                            <select name="gender" id="gender">
                                 <option value="Выберите пол">Выберите пол</option>
                                {% for gender in genders %}
                                <option value="{{ gender.ID_gender }}">{{ gender.gender_name }}</option>
                                {% endfor %}
                            </select>
                       </div>
                        <div class="form-group">
                            <button type="submit">Добавить мастера</button>
                            <div class="flash-messages">
                                   {% with messages = get_flashed_messages(with_categories=true) %}
                                   {% if messages %}
                                       {% for category, message in messages %}
                                           {% if category == 'error1' %}
                                               <span class="reg-error flash">{{ message }}</span>
                                           {% endif %}
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}
                            </div>
                        </div>
                    </form>
                </section>
                <section class="form-cart">
                  <div class="title-line">
                    <h2 class="section-title section-title-form">Изменение мастера</h2>
                  </div>
                    <p>Для изменения данных мастера выберите его из таблицы, нажав на иконку карандаша.</p>
                     <form method="POST" action="{{ url_for('admin.edit_master') }}">
                        <div class="form-group">
                            <label for="editCode">Код изменяемого мастера:</label>
                            <input type="text" name="editCode" id="editCode" readonly>
                        </div>
                        <div class="form-group">
                            <label for="editName">Имя мастера</label>
                            <input type="text" id="editName" name="editName" required>
                        </div>
                           <div class="form-group">
                            <label for="editGender">Пол</label>
                             <select name="editGender" id="editGender">
                                <option value="Выберите пол">Выберите пол</option>
                                {% for gender in genders %}
                                <option value="{{ gender.ID_gender }}">{{ gender.gender_name }}</option>
                                {% endfor %}
                            </select>
                       </div>
                         <div class="form-group">
                            <button type="submit">Изменить мастера</button>
                             <div class="flash-messages">
                                   {% with messages = get_flashed_messages(with_categories=true) %}
                                   {% if messages %}
                                       {% for category, message in messages %}
                                           {% if category == 'error2' %}
                                               <span class="reg-error flash">{{ message }}</span>
                                           {% endif %}
                                       {% endfor %}
                                   {% endif %}
                                   {% endwith %}
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="table-section">
              <div class="title-table-icon">
                <img src="{{url_for('static',filename='image/Icons/hammer.svg')}}" width=40px>
                <h2 class="section-title">Мастера</h2>
              </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Код</th>
                            <th>Имя мастера</th>
                            <th>Пол</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for master in masters %}
                            <tr>
                                <td>
                                   <form action="{{ url_for('admin.delete_master', id=master.ID_master) }}" method="POST" style="display:inline;">
                                       <button class="func-button" type="submit" onclick="return confirm('Вы уверены, что хотите удалить этого мастера?')">❌</button>
                                    </form>
                                    <button class="func-button" onclick="LoadMasterEditForm({{ master.ID_master }})">✏️</button>
                                </td>
                                <td>{{ master.ID_master }}</td>
                                <td>{{ master.Name_master }}</td>
                                <td>{{ master.gender_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
         function LoadMasterEditForm(masterId) {
                fetch(`/api/master/${masterId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Ошибка загрузки данных мастера');
                        }
                        return response.json();
                    })
                    .then(data => {

                        document.getElementById('editCode').value = data.ID_master;
                        document.getElementById('editName').value = data.Name_master;
                        document.getElementById('editGender').value = data.id_gender;


                            const editForm = document.querySelector('.form-cart:nth-of-type(2)'); // Находим вторую форму с классом form-cart
                            if (editForm) {
                                // Добавляем подсветку
                                editForm.classList.add('highlight');

                                // Удаляем подсветку через 2 секунды
                                setTimeout(() => {
                                    editForm.classList.remove('highlight');
                                }, 2000);

                                editForm.scrollIntoView({ behavior: 'smooth', block: 'start' });
                            }
                    })
                    .catch(error => {
                        console.error('Ошибка при загрузке данных мастера:', error);
                        alert('Не удалось загрузить данные мастера.');
                    });
            }
    </script>
{% endblock %}
