<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора - Товары</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <style>

    </style>
</head>
<body>
    <header class="header">
        <h1>Панель администратора</h1>
    </header>
    <nav class="nav">
        <a href="{{url_for('Admin_products')}}">Товары</a>
        <a href="{{url_for('Admin_users')}}">Пользователи</a>
        <a href="#">Мастера</a>
        <a href="#">Заказы</a>
        <a href="#">Категории</a>
        <a href="#">Отзывы</a>
    </nav>



    {%block content%} {%endblock%}
</body>
</html>
