@font-face{
  font-family:"Evolventa Regular";
  src: local("Evolventa-Regular"),
  url("../public/fonts/Evolventa-Regular.otf") format("otf")
}


@font-face{
  font-family:"Evolventa Bold";
  src: local("Evolventa-Bold"),
  url("../public/fonts/Evolventa-Bold.otf") format("otf")
}


@font-face{
  font-family:"Evolventa Oblique";
  src: local("Evolventa-Oblique"),
  url("../public/fonts/Evolventa-Oblique.otf") format("otf")
}
