@font-face {
  font-family: "Evolventa Regular";
  src: url("./fonts/Evolventa-Regular.otf") format("woff");
}

@font-face {
  font-family: "Evolventa Bold";
  src: local("Evolventa-Bold"), url("./fonts/Evolventa-Bold.woff") format("woff");
}

@font-face {
  font-family: "Evolventa Oblique";
  src: local("Evolventa-Oblique"), url("./fonts/Evolventa-Oblique.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
