.cart-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Evolventa Regular';
  background-color: #e2e2df00;
  border-radius: 10px;
}


.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-header h1 {
  font-size: 2.4rem;
  color: #4a2c2a;
}

.cart-info {
  display: flex;
  align-items: center;
  gap:15px;
  ;
}

.cart-info p {
  margin: 0;
  font-size: 1.2rem;
  color: #4a2c2a;
}

.cart-info .clear-cart-button {
  background-color: #07074E;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.cart-info .clear-cart-button:hover {
  background-color: rgb(59, 68, 190);
}

.empty-cart {
  text-align: center;
  font-size: 1.7rem;
  color: #666;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #ffffffe4;
  border: 3px solid #07074e9f;
  border-radius: 8px;
  padding: 8px 20px 8px 10px;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item .item-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.231);
}

.cart-item .item-image img:hover {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.23);
}

.cart-item .item-details {
  flex: 1;
}

.cart-item .item-details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #4a2c2a;
}

.cart-item .item-details .price {
  margin: 5px 0 0;
  color: #555;
}

.cart-item .item-quantity {
  display: flex;
  align-items: center;
  gap: 10px;

}

.cart-item .item-quantity button {
  background-color: #ffffff5a;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid rgba(139, 139, 139, 0.561);
  transition: 0.4s;
}

.cart-item .item-quantity button:hover {
  background-color: #67676724;
}

.cart-item .item-quantity span {
  font-size: 1.2rem;
  min-width: 30px;
  text-align: center;
}

.cart-item .item-total p {
  margin: 0;
  font-size: 1.1rem;
  color: #050505;
}

.cart-item .remove-item {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.39);
  font-size: 1.3rem;
  color: #e74c3c;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
}

.cart-item .remove-item:hover {
  color: #c0392b;
  background-color: rgb(214, 214, 214);
}

.cart-summary {
  margin-top: 30px;
  text-align: right;
}

.cart-summary h2 {
  font-size: 1.5rem;
  color: #4a2c2a;
}

.cart-summary .checkout-button {
  background-color: #F98723;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: .5s;
}

.cart-summary .checkout-button:hover {
  background-color: #b16d31;
}

@media (max-width: 768px) {
  .cart-header {
    flex-direction: column;
    gap: 10px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .cart-item .item-image img {
    width: 80px;
    height: 80px;
    cursor: pointer;


  }

  .cart-item .item-quantity {
    gap: 5px;
  }

  .cart-summary {
    text-align: center;
  }
}
