<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/errors.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/Icons/site-icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% if request.path.startswith('/catalog') %}
        {% for entrypoint in get_entrypoints() %}
            {% if entrypoint.endswith('.css') %}
                <link rel="stylesheet" href="{{ entrypoint }}">
            {% endif %}
        {% endfor %}
    {% endif %}
</head>
<body>
    <header id="mnhd">
        <!-- название, адрес, номер -->
        <div id="d12">
          <div id="nadhd">
            <div id="logo"><img src="{{ url_for('static', filename='image/IconWhite.png') }}" width="45px"></div>
            <p id="nadnd-titile" style="">ТКХиС. Магазин «Cтуденческий»</p>
          </div>
          <div id="nadhd1">
            <p class="nadhd1-p" id="nadhd1-addres"><i class="fa fa-map-marker" aria-hidden="true"></i>Советская 175, Абакан</p>
            <p class="nadhd1-p"><i class="fa fa-phone-square" aria-hidden="true"></i>+7 (983) 195-27-99</p>
          </div>
        </div>

        <!-- Бургер-меню -->
        <div class="burger-menu" id="burger-menu">
          <i class="fa fa-bars fa-2x"></i>
        </div>

        <!-- Навигационное меню-->
        <nav class="nav-menu" id="nav-menu">
          <div class="mnhd-inline" id="mnhd-searchline">
            <button id="mnhd-bsearch">
              <i class="fa fa-search"></i>
            </button>
            <input id="mnhd-search-inp" type="text">
          </div>

          <div class="mnhd-inline">
            <a href="{{ url_for('index') }}" class="icon-link">
              <i class="fa fa-home fa-2x"></i>
              <p class="mnhd-bt-link" id="hd-home">Главная</p>
            </a>
          </div>

          <div class="mnhd-inline">
            <a href="{{ url_for('catalog.catalog') }}" class="icon-link">
              <i class="fa fa-th-list fa-2x"></i>
              <p class="mnhd-bt-link" id="hd-cat">Каталог</p>
            </a>
          </div>

          <div class="mnhd-inline">
            <a href="#" class="icon-link">
              <i class="fa fa-question-circle fa-2x"></i>
              <p class="mnhd-bt-link" id="hd-faq">Вопросы</p>
            </a>
          </div>

          <div id="mnhd-cart" class="mnhd-inline">
            <a class="icon-link" href="{{ url_for('catalog.catalog') }}/cart">
              <i class="fa fa-shopping-cart fa-2x"></i>
              <p class="mnhd-bt-link" id="hd-cart">Корзина</p>
            </a>
          </div>

          {% if current_user.is_authenticated %}
            <div class="header-user-block">
              <img src="{{ avatar_url }}" alt="Аватар">
              <div class="header-user-menu">
                <p id="authorized_username">{{ current_user.Name_user }}</p>
                {% if current_user.role == 'admin' %}
                  <a href="{{ url_for('admin.Admin_products') }}">Админ-панель</a>
                {% endif %}
                {% if current_user.role == 'seller' %}
                  <a href="{{ url_for('seller.show_dashboard') }}">Панель продавца</a>
                {% endif %}
                {% if current_user.role == 'user' %}
                  <a href="#">Личный кабинет</a>
                {% endif %}
                <div id="mnhd-login">
                  <a class="icon-link mnhd-login-link" href="{{ url_for('auth.logout') }}">
                    <p>Выйти
                      <img src="{{ url_for('static', filename='image/Icons/door.svg') }}" class="logout-icon">
                    </p>
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <div id="mnhd-login" class="mnhd-inline">
              <a class="icon-link mnhd-login-link" href="{{ url_for('auth.signup') }}">
                <i class="fa fa-user fa-2x mnhd-login-link"></i>
                <p class="mnhd-bt-link">Войти</p>
              </a>
            </div>
          {% endif %}
        </nav>
      </header>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
  <div class="footer-container">
    <div class="footer-left">
      <img src="{{ url_for('static', filename='image/IconWhite.png') }}" alt="Логотип" class="footer-logo" width="30">
      <p>ТКХиС Магазин «Студенческий»<br>Советская 175, Абакан<br>+7 (983) 270-15-51</p>
    </div>
    <div class="footer-links">
      <a href="#" class="footer-link">О разработчиках сайта</a>
      <a href="#" class="footer-link">Контактная информация</a>
      <a href="#" class="footer-link">Вернуться на главную</a>
      <a href="#" class="footer-link">Вернуться к корзине</a>
    </div>
  </div>
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% if request.path.startswith('/catalog') %}
  {% for entrypoint in get_entrypoints() %}
    {% if entrypoint.endswith('.js') %}
      <script src="{{ entrypoint }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}
</body>
</html>
