{%extends 'base.html'%}
{% block title %}Магазин "Студенческий" - Главная{% endblock %}

{%block content%}
    <main>
        <div id="mn-first-container">

            <section class="c-info">

                <div id="c-info-title"><h1 id="c-info-title-h">Магазин «Студенческий»</h1>

                </div>
                <p id="c-info-text">
                    ⚙️ Добро пожаловать в интернет-магазин «Мастерская ТКХиС» – уникальное пространство, где талант и опыт наших мастеров
                     производственного обучения воплощаются в эксклюзивных сувенирах и качественных бытовых изделиях!
                     Каждая вещь, представленная здесь, создана с душой в производственных мастерских
                     Техникума коммунального хозяйства и сервиса Республики Хакасия.
                     Мы гордимся тем, что можем поделиться с вами результатами кропотливого труда и творческого поиска,
                     демонстрируя высокий уровень мастерства и качество местной продукции.


                 <br>
                </p>

                <p id="c-info-text">
                    <br>
                    ⚙️ Приобретая наши изделия, вы не просто покупаете красивую и полезную вещь, но и
                    вносите свой вклад в развитие профессионального образования и поддержку наших мастерских. Все вырученные средства направляются на модернизацию учебной базы, закупку современных материалов и оборудования. Ознакомьтесь с нашим каталогом, найдите что-то особенное для себя или в подарок,
                    и станьте частью нашего сообщества, ценящего ручной труд и настоящее мастерство!
                </p>


            </section>
            <section class="c-new">
                <div class="c-new-top">
                    <div class="cnt-title"><h1 id="cnt-title"> НОВИНКИ </h1> </div>
                    <div class="cnt-button">
                        <button id = "cnt-button">
                           Перейти в категории
                        </button>
                    </div>

                </div>

                <div class="c-new-down">
                    {%for product in productNew %}
                    <div class="cnd-product-card">
                        <div class="img-container">
                            <img class ="cnd-it-img" onclick="window.location.href='{{ url_for('api.productCard', product_id=product.ID_product) }}'"
                            src = "{{url_for('api.product_image', product_id=product.ID_product) }}"
                            width="88%" height = "73%">
                        </div>
                        <div class="product-title">
                          <h3>{{product.Name_product}}</h3>
                        </div>
                        <div class="card-group">
                          <div class="group-category-more">
                            <p class="category"></p>

                          </div>
                          <div class="group-bt-price">
                            <p class="price">{{product.Cost_product}} ₽</p>
                            <button
                            class="add-to-cart-button"> В корзину
                          </button>
                          </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>

            </section>
        </div>
    </main>
{%endblock%}
