{% extends 'base.html' %}
{% block title %}
{{ product.Name_product }} - Магазин студентический ТКХиС
{% endblock %}




{%block content%}
<div class="card-wrap">
  <div class = "card-main">
      <div class="card-top">
          <div class="card-topleft">
              <div class="card-mainphoto"><img src="{{ url_for('api.product_image', product_id=product.ID_product) }}" width="400px" class="rounded-img"></div>
          </div>
          <div class="card-topright">
              <div class="card-infodiv">
                  <div class="card-infotitile">
                      <h1 class="card-title">{{ product.Name_product }}</h1>
                      <div class="card-discdiv">
                          <p class="card-discription">
                            {{ product.Description_product }}
                          </p>
                      </div>
                  </div>
                  <div class="card-costdiv">
                      <button  class="card-addCartButton" ><p>Добавить в корзину</p></button>
                      <div class="card-cost"><p>{{ product.Cost_product }} ₽</p></div>
                  </div>
                  <div class="card-attrdiv">
                      <p class="card-attrP">Автор продукта: Куркин Л.А.</p>
                      <p class="card-attrP">Категория: {{product.Id_category}}</p>

                  </div>
              </div>
          </div>

      </div>
      <p class = "card-another">Другие фото товара:</p>
      <div class="card-lower">

      </div>

  </div>
</div>

{%endblock%}
