

@font-face {
  font-family: "Evolventa Regular";
  src: local("Evolventa-Regular"), url("./fonts/Evolventa-Regular.otf") format("woff");
}

@font-face {
  font-family: "Evolventa Bold";
  src: local("Evolventa-Bold"), url("./fonts/Evolventa-Bold.woff") format("woff");
}

@font-face {
  font-family: "Evolventa Oblique";
  src: local("Evolventa-Oblique"), url("./fonts/Evolventa-Oblique.woff") format("woff");
}


body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #edecec;
  font-family: "Evolventa Regular";
}

input{
  margin:0;
  padding: 0;
}

@keyframes glow {
  0% {
    margin-right:0px;
    box-shadow: 0 0 10px 0 #fff; /* Начальное значение тени */
  }
  100% {
    margin-right:-2000px;
    box-shadow: 0px 0px 10px 10px rgba(255, 157, 37, 0.196);
  }

}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin:0;
}

             /* ХЕДЕР ГЛАВНОЙ СТРАНИЦЫ */

#nad{
  background-color: rgb(26, 20, 73);
}

#nadhd {
display: flex;
}


#logo{
  height: 10px;
  width: 50px;
  margin: 0px 6px;
}
#d12{
/* background-color: rgb(255, 0, 0); */
width: 630px;
height: 60px;
margin:10px;
}
#nadhd1 {
max-width:500px ;
display: flex;
position: relative;
left: 60px;
margin:6px 20px
}

.nadhd1-p {
  margin:0px 50px 0px 0px;
  color: rgb(28, 149, 255);
}

#nadhd1-addres{
/* margin: 0px 20px 0px 0px; */
}

.fa-phone-square{
  margin: 0px 6px;
}

.fa-map-marker{
  margin: 0px 6px 0px 0px;
}
#nadnd-titile{
  position: relative;
  font-family: Evolventa Bold;
  font-size: 23pt;
  margin: 0px 10px;
  display: block;

}

#nadhd p{
  color:aliceblue
}
#mnhd {
  box-shadow: 10px 10px 10px rgba(32, 32, 32, 0.267);
  width: 100%;
  background-color: #070749;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.header-user-block{
  display: flex;
  width: 10%;
  padding:5px 10px 0px 10px;
  min-width: 16%;
  overflow: hidden;
}

.header-user-block img{

 border-radius:10px;
}

.header-user-block > img:first-child{
  max-width: 55px;
  max-height: 55px;
  object-fit: cover;
  object-position: center;
 }

.header-user-menu{
  margin: 5px 10px;
}

.header-user-menu a{
  font-size: 14px;
  margin: 2px 0px;
  text-decoration-line:none ;
  color:  rgb(0, 141, 212);
}

.logout-icon {
  filter: invert(100%);
  width: 13px;
  height: 12px;
  vertical-align: middle;
  margin-left: 0px;
}


.cart-block {
  display: none;
}


.cart-block.visible {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-block {
  position: absolute;
  background-color: #e2dcdc;
  width: 350px;
  height: 430px;
  left: -110px;
  top:110px;
  z-index: 1000;
  color: rgba(18, 22, 152, 0.85);
  display: none;
  overflow: hidden;
  border-radius: 20px;
  box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.100);
  border:3px solid rgba(49, 10, 157, 0.104);
  box-sizing: border-box;

}

#cart-items {
  width: 300px;
  height: 300px;
  max-height: 300px;
  overflow-y: auto;

}


.cart-butDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left:3px;
  box-sizing: border-box;
  bottom: 10px;
}

.dabutton{
  border: none;
  border-radius:10px;
  margin: 8px;
  width: 130px;
  height: 30px;
  transition: .4s;
}

.add-to-cart{
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 30px;
  background-color: #838383;
  color: white;

}

.add-to-cart:hover{

  background-color: #404040;
}

.add-to-cart:active{
  width: 30px;
  height: 30px;
  background-color: #7b7a7a;
}

.cnd-it-content{
  display:flex;
}

.cnd-it-wr1{

  max-width: 80%;

}

.cnd-it-wr2{
  width: 40%;
}


.cnd-it-wr1 .items-cost-ButDiv{
  display: flex;
  width: 100%;
}



.cart-none{
  position: relative;
  top:33%;
  left: 30%;
  color: #6262626a;

}






.cart-but-del{
  color:white;
  background-color: #ff2121;
  margin: 0px 20px 0px 0px;

}
  .cart-but-del:hover{
    background-color: #fd6c6c;
    transition: .3s;
    width: 135px;
  }

  .cart-but-del:active{
    background-color: #626262;
    transition: .3s;
    width: 128px;
    height: 29px;
  }


.cart-but-info{
  color:white;
  background-color: rgb(26, 20, 73);
}

.cart-but-info:hover{
  color:white;
  background-color: rgb(59, 45, 162);
  transition: .3s;
  width: 135px;
}


.cart-block h4{
position: relative;
margin: 10px;
left:5px;
}


.mnhd-bt-link {
  margin-left: 12px;
  text-align: center;
  white-space: nowrap;

}
#hd-home,
#hd-cat,
#hd-faq,
#hd-cart {
  position: static;
  left: 0;
  margin: 0;
  padding: 0;
}
.mnhd-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
}

.mnhd-login-link{
 color:rgb(176, 225, 255);
}



#mnhd-login {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 141, 212);
}
.icon-link i {
  margin-right: 8px;
  font-size: 24px;
}
#mnhd-searchline {
  display: flex;
  align-items: center;
  width: auto;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #666;
}

a:hover{
  color: #939393;
  transition: 0.4s;
}

a{

  transition: 0.3s;
}

#mnhd-search-inp{
 width: 550px;
 height: 25px;
 background-color: rgb(181, 220, 255);
 border-radius: 20px;
 border-width: 1px;
 padding-left: 35px;
}

#mnhd-searchline{
  display: flex;
  width: 400px;
  position: relative;
  top:0%;
}

#mnhd-bsearch{
  height: 31px;
  background-color: transparent;
  position:relative;
  left:32px;
  border: 0;
}

#mnhd-bsearch i{
color:  rgb(0, 141, 212);

}

/* ФУТЕР  */
footer {
  flex-shrink: 0;
  background-color: #b0b0b0;
  color: #333;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Левая часть с логотипом и текстом */
.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 10px;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

/* Ссылки в футере */
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Расстояние между ссылками */
}

.footer-link {
  color: #fff;
  background-color: #f28c38; /* Оранжевый фон, как на кнопках */
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.footer-link:hover {
  background-color: #d8701a;
}



main {
  flex: 1 0 auto;
  padding-bottom: 20px;
  height: 100%;
}
footer {
  flex-shrink: 0; /* Футер не сжимается */
  position: relative;
  bottom: 0;
  width: 100%;
}


/* КОНТЕЙНЕР С ИНФОЙ И НОВЫМ БЛОКОМ */
 #mn-first-container{
  position: relative;
 width: 96%;

 margin:0px 80px 0px 0px;
 display:flex;

 }

 .c-info{
  position: relative;
  display: flex;
  flex-direction: column;
  margin:40px 90px;
  width: 40%;
  height: 100px;
  text-indent: 30px;

 }

    #c-info-title{


    }


    #c-info-title-h{
      font-size: 25pt;
      margin: 0px 0px 25px 0px;

    }



    #c-info-text{
      text-indent: 30px;
      font-size:16px;
      line-height: 1.8em;
    }

    #mainShopPic{
      position: relative;
      margin: 0px 0px 20px 0px;
      left:8%;

    }
/* зачистить */
 .c-new{

  position: relative;
  margin:0px 0px;
  width: 54%;
  height: 100%;


 }

    .c-new-top{

      display:flex;
      width: 100%;
      height: 15%;
      color:rgba(255, 162, 0, 1);

    }
      .cnt-title{
        font-family: Evolventa Bold;
        margin: 0;
        font-size: 25pt;
        padding: 25pt 40pt 0pt 40pt;
      }

      .cnt-button{

        width: 100%;
        height: 15%;
        padding:60px 2% 3% 1%;
      }

    .c-new-down{
      color: rgb(5, 5, 5);
      display:flex;
      flex-wrap: wrap;
      background-color: rgba(170, 170, 170, 0.119);
      width: 100%;
      border-radius: 15px;


    }

    .cnd-items{
      box-sizing: border-box;
      margin: 1%;
      padding: 2% 2%;
      background-color: rgb(236, 236, 236);
      width: calc(100% / 3.25);
      /* height: calc(100% / 2.1); */
      border: 3px solid rgb(255, 179, 0) ;
      border-radius:15px;
      font-size: 12px;
    }




    .cnd-items:hover{
      transition: .3s;
      background-color: rgb(255, 255, 255);
      box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.134);
      width: calc(100% / 3.24);
      height: calc(100% / 2.05);
    }

      .cnd-it-disc{

        font-size: 8pt;
      }

      .cnd-titile{
        margin: 2px;
        font-size: 12pt;
      }

      .cnd-it-cat{
        font-size: 8pt;
      }
      .cnd-it-img{
        position: relative;

        border-radius: 20px;

        top:0%;
        margin:2px;
        transition: .3s;
      }



      .cnd-it-wr2{
        margin-top: 10 px;
      }

 /* СТРАНИЦА РЕГИСТРАЦИИ */
 /* контейнер регистрации */
 .reg-wrap{
  background-color: #66666600;
  position: relative;
  left:26.3%;
  width: 600px;
  height: 800px;
  margin:0px 80px;
  padding: 80px 50px 50px 90px;
 }
 .reg-container{
  position: absolute;
  /* background-color: rgb(26, 20, 73); */
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border:6px solid rgb(26, 20, 73);
  /* border-top:none; */
  display: flex;
  flex-direction: column;
  color: rgb(58, 57, 57);
  margin:0px;
  width:85%;
  opacity: 0;
  box-shadow:0px -2px 2px 1px #0000003a;
  pointer-events: none;
  z-index: 0;
 }

 .reg-error{
  margin: 2px 20px;
  color:rgba(255, 0, 0, 0.503);
  font-size: 16px;

 }

 .reg-container > h1 {
  color:black;
 }

 .reg-error.flash {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

 .reg-container > div.active{


  opacity: 1;

 }



 .rg-consent-checkbox  a:link{
  color:rgb(0, 141, 212);


 }

 .rg-consent-checkbox  a:visited{
  color:rgb(0, 141, 212);


 }
 .rg-EnterLb{
  /* color:  rgb(254, 254, 254); */
  text-align: center;
  margin: 12px 10px ;
 }


 .rg-EnterLb i{

 }

    .rg-tabs{
    display: flex;

    }



    .flex-on{
      display: flex;
      flex-direction:column;


    }

    .active{
      opacity: 1;
      pointer-events:auto;
      z-index: 1;

    }

    .rg-lb-remember{
      padding-left: 25%;
    }


    .rg-bt-tabLogSig{
      margin: 0px;
      background-color: #b0afaf71;
      border:3px solid rgba(186, 186, 186, 0.545);
      border-radius: 5px;
      width: 200px;
      height: 100px;
      position: absolute;
      top: 42px;



    }

    #rg-bt-tabSign{
      position: absolute;
      left:293px;
    }

    .rg-tabP{
      font-size: 14pt;
      text-align: center;
      line-height:2px;

    }

    .rg-bt-tabLogSig i {
      margin: 6px;
    }

    .reg-wrap .rg-tabs > div
    {
      cursor: pointer;



    }

    .reg-wrap .rg-tabs > div:hover
    {
      background-color: #4949497f;



    }

    .reg-wrap .rg-tabs > div.active
    {
      color:rgb(220, 220, 220);
      background-color: rgb(26, 20, 73);
      border:2px solid;
      border-color: #999999fe;

    }
    #rg-bt-tabLogin{
      /* background-color: rgb(0, 141, 212); */


    }

    .inputStyle{
      width: 94%;
      height: 35px;
      border:2px solid rgba(0, 0, 0, 0.541);
      border-radius: 10px;
      margin: 2%;
    }

    .inputStyle1{
      width: 94%;
      height: 35px;
      border:2px solid rgba(0, 0, 0, 0.467);
      border-radius: 10px;
      margin: 2%;
    }

    #button-LogIn{
      height: 50px;
      background-color: rgb(232, 232, 232);
      border-radius:10px;
      margin:10px;
      transition:  0.3s ease-in-out;
    }

    #button-LogIn:hover{
      height: 55px;
      background-color: rgb(201, 210, 229);
      border-radius:15px;

    }

    #button-Reg{
      height: 50px;
      width: 95%;
      background-color: rgb(232, 232, 232);
      border-radius:10px;
      margin:10px;
      transition:  0.3s ease-in-out;

    }

    #button-Reg:hover{
      height: 53px;
      align-items: center;
      width: 95%;
      background-color: rgb(201, 210, 224);
      border-radius:15px;

      transition:  0.3s ease-in-out;

    }



    #rg-lb-notice{
      position: relative;
      left:16.5%;

    }




    .inputStyle1::placeholder{
      font-family:Evolventa Regular;
      color: rgb(168, 168, 168);
      font-size: 15pt;
      padding-left: 15px;

    }

    .inputStyle::placeholder{
      font-family:EvolventaBold;
      color: rgb(168, 168, 168);
      font-size: 15pt;
      padding-left: 15px;
    }


    #rg-lb-Birth{
      margin: 12px;
    }

    .rg-consent-checkbox{
      margin: 12px;
      font-size:20px;
    }

  /* Product cards */

  .card-wrap{
    display: flex;
    justify-content: center;
    width:100%;

  }

  .rights-checkbox{
    width: 100px;
  }

  .card-main {
    position: relative;
    position: relative;
    top: 50px;
    left:3px;
    width: 1242px;
    height: 796px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.card-top{
  position: relative;
  background-color: #8c8a8a5a;
  top:-20px;
  width:96%;
  height: 60%;
  border-radius: 60px;
  margin: 0px 0px 0px 0px;
  display: flex;
  box-shadow:
     10px 9px 0px 2px  rgba(0, 0, 0, 0.274);
}

.card-lower{
  position: relative;
  background-color: rgb(26, 20, 73);
  top:20px;
  width:96%;
  height: 25%;
  border-radius: 60px;
  margin:0px 0px 0px 0px;
  border: 10px solid rgba(119, 119, 119, 0.352);
}


.card-another{
  margin: 0%;
  font-size: 20pt;
  position: relative;
  top:0px
}

.card-topleft {
  background-color: rgba(26, 20, 73, 0.98);
  width: 40%;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:5px 0px 8px 2px #0000003d;

}

.card-topright {

  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.card-mainphoto{
  width: 380px;
  height: 400px;
  background-color: rgb(26, 20, 73);
  border-radius:51px;
  position: relative;
  top:0px;
  left:-10px;

}

.rounded-img{
  border-radius: 51px;
}
.card-infotitile {
  position: relative;
  top: -15px;
  left:20px;

}
.card-discdiv{
  /* height: 10px; */
  width: 86%;
  font-size: 16pt;
}

.card-title{
  font-size:39px;
  color:rgb(26, 20, 73);
  margin:0px 0px 15px 0px;
  width: 78%;

}

.card-costdiv{
  width: 100%;
  height: 100px;
  background-color: rgb(26, 20, 73);
  display: flex;
  align-items: center;
  position:relative;
  top:0px;
  box-shadow:2px 8px 4px 0px #0000003d;
}

.card-addCartButton{
  width: 220px;
  height: 54px;
  border-radius: 51px;
  border:none;
  color: white;
  background-color: rgb(222, 123, 24);
  transition: .4s;
  position: relative;
  left:30px;

}

.card-addCartButton p{
  font-size:16px;

}

.card-addCartButton:hover{
  transition: .4s;
  width: 260px;
  height: 60px;

  background-color: rgb(249, 145, 42);
}

.card-addCartButton:active{
  transition: .4s;
  width: 255px;
  height: 55px;

  background-color: rgb(111, 109, 109);
}
.card-cost{
  width: 20%;
  position:relative;
  left:16%;


}

.card-cost p{
  font-size: 35px;
  color:white;
}



.card-attrdiv{
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: #00000014; */
  position: relative;
  top:10px;
}

.card-attrdiv p {
  font-size: 18px;
  margin: 0px 54px -3px 28px;
  color: #767571;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #080638;
  border-radius: 20px 20px 0px 0px;

}
.burger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

/* Personal Pages */

.mainwrap{
  /* background-color: #0a40e25a; */
  width:100%;
  height: 874px;
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;

}

.mainblock{
  margin: 3% 2%;
  display: flex;
  background-color: #c5c5c5;
  width:75%;
  height: 85%;
  border-radius: 60px;
}
  /* Left \ Right */
  .mb-leftside-sizing{
    position: relative;
    top:-1%;
    width: 35%;
    height: 102%;
    background-color: #62626224;
  }

  .b-shadow{
    box-shadow:5px 0px 8px 2px #0000003d;
  }

  .mb-pesonalMenu{
    background-color: rgb(26, 20, 73);
    border-radius: 30px;
  }



  .mb-rightside-sizing{
    height: 100%;
    width: 90%;
    background-color: #62626286;
  }

  .mb-pesonalMenuContent{
    background-color: #c5c5c5;
    border-radius: 0px 30px 30px 0px  ;
  }









/* .card-infodiv{
  width: 260px;
  height: 260px;
  background-color: #d90c0c14;
  border-radius:51px;
} */


/* @import url("../../fonts.css"); */
@keyframes fadeIn {

  to {
    opacity: 1;

    /* transform: scale(1) rotate(0deg); */

  }
}

button {
  cursor: pointer;
}

.cnd-product-card{
  font-family: "Evolventa Regular";
  width: 280px;
  height: 345px;
  border: 3px solid #ffa600b4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:6px 6px 10px rgba(0, 0, 0, 0.116);
  transition: 0.4s;
  cursor: pointer;
  background-color: #E6E5E3;
  animation: fadeIn 0.3s ease-in-out forwards;
  margin:5px;
  opacity: 0.0;

  /* transform: rotate(-5deg) scale(0.1); */
  animation-delay: 0s;
}

.cnd-product-card:hover{

  font-family: "Evolventa Regular";
  width: 280px;
  height: 345px;
  border: 3px solid #0f0f80b7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:6px 6px 15px rgba(0, 0, 0, 0.378);
}

.cnd-product-card .img-container{
  overflow: hidden;
  width: 230px;
  height: 230px;
}

.cnd-product-card img{
  border-radius: 10px;
  width:230px;
  height: 220px;
  margin: 10px 0px 5px 0px;
  object-fit:cover;
}



.cnd-product-card  h3{
  font-family: "Evolventa Bold";
  font-size: 18px;
  width:230px;
  margin: 2px;
}

.cnd-product-card  .category{
  font-size: 12px;
}

.cnd-product-card .product-title{
  max-height: 40px;
  overflow: hidden;
  flex-grow:1;
  cursor:text;
  line-height: 1.0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}



.cnd-product-card .card-group{
  display: flex;
  max-width:100%;
  margin: 0;
  position: relative;
  top:-16px;
}

.cnd-product-card .price{
  text-align: right;
  color:#0f0f85;
  font-size:22px;
  font-family: "Evolventa Bold";

  width: 120px;
  margin: 0;
  margin-top: 15px;
  height: 22px;
}

.cnd-product-card .more{
  color:#07074E;
  font-size:12px;
  font-family: "Evolventa Oblique";
  margin: 0;

}

.cnd-product-card p{
  color:#07074E;
  font-size:12px;
  font-family: "Evolventa Oblique";
  margin-top: 10px;

}

.cnd-product-card .group-category-more{
 width: 110px;
}


.cnd-product-card button{
  background-color:#F98723;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 29px;
  margin-top: 4px;
  /* padding: 5px; */
  position: relative;
  transition: 0.8s;
  /* top:-27px; */
  /* left: 55px; */

}


.cnd-product-card button:hover{
  background-color:#5294ff;
  border: none;
  border-radius: 13px;


}

.cnd-product-card .group-bt-price{
  position: relative;
  top:0px;
  cursor:text;
}
@media (max-width: 1025px) {
  footer{
    display:none;
  }
}


@media (max-width: 1336px) {
  footer{
    display:none;
  }
  #logo{
    display:none;
  }
  .nav-menu {

    display: none; /* Скрываем меню */
    flex-direction: column; /* Вертикальное расположение */
    position: absolute;
    top: 100%; /* Под хедером */
    left: 0;
    width: 100%;
    background-color: #070749;
    padding: 10px 0;
    z-index: 1000;
    border-radius: 0px 0px 0px 0px;
  }

  .nav-menu.active {
    display: flex; /* Показываем меню при активации */
  }

  .mnhd-inline {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 20px;

  }

  #mnhd-searchline {
    width: 90%;
    margin: 0 auto;
  }

  .header-user-block {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 20px;
  }

  .burger-menu {
    display: block; /* Показываем бургер-меню */
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

/* Стили для верхней части хедера */
#d12 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

#nadhd {
  display: flex;
  align-items: center;
}

#nadhd1 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 60px;
  margin: 6px 20px;
}

@media (max-width: 768px) {
  #nadhd1 {
    left: 0;
    margin: 6px 0;
    justify-content: center;
  }

  .nadhd1-p {
    margin: 0 10px;
  }

  #nadnd-titile {
    font-size: 18pt;
  }
}


@media (max-width: 570px) {
  #nadnd-titile{
    display: none;

  }
  #nadhd1{
    display: none;
  }

  footer{
    display:none;
  }


}
