.navigator{
  font-family: "Evolventa Regular";

  min-width: 40%;
  max-width: 68%;
  height: 65px;
  background-color: #070734;
  border-radius:10px;
  position: relative;
  /* left:420px; */
  margin: 10px 0px 0px 435px;
  color:white;
  display: flex;

}

.navigator h3{
  margin:8px 0px 2px 0px;
  padding-left: 50px;
  min-width: 210px;
  position: relative;

}

.category-ul{
  display: flex;
  margin: 0px 0px;
  list-style: none;
  padding-left: 44px;
}

.category-ul li{
  margin: 0px 3px;
}


.category-ul button{
  font-family: "Evolventa Regular";
  background-color:rgba(255, 255, 255, 0);
  color:rgb(192, 192, 192);
  border:none;
  transition: 0.6s;
}

.category-ul button:hover{
  background-color:rgba(255, 255, 255, 0);
  color:rgb(255, 255, 255);
  border:none;

}


#new-products-bt{
  width: 120px;
  height: 40px;
  font-family: "Evolventa Bold";
  background-color:#F98723;
  color:rgb(255, 255, 255);
  border:none;
  border-radius: 10px;
  margin: 11px;
  position: relative;
  left: 10%;
  transition: .4s;
}

#new-products-bt:hover{
  background-color:#c66f23;
  color:rgb(255, 255, 255);
}

.metal-products{
  position: relative;
  left:25px;

}
